{% for field in registration_form %} 
  {% for error in field.errors %}
    <div id="error" class="container">
      <div
        class="alert alert-danger alert-dismissible fade show text-center"
        role="alert">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"></button>
        {{ error }}
      </div>

      <script>
        setTimeout(() => {
          $(".alert").fadeOut("close");
        }, 3000);
      </script>
    </div>
  {% endfor %} 
{% endfor %} 

{% if registration_form.non_field_errors %}
<div style="color: red">
  <p>{{registration_form.non_field_errors}}</p>
</div>

{% endif %} 
